*,::after,::before{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{scroll-behavior:smooth;}
body{width:100%;font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;}
@media screen and (max-width:768px){
    main{width:100%;margin-bottom:150px;}
    .question-answers{margin-top:100px;}
    .top-bar{display:flex;align-items:center;justify-content:space-between;width:95%;margin:50px auto 0;}
    .three-dot{position:relative;}
    .three-dot button{border:none;background-color:transparent;padding:8px 13px;}
    .three-dot button i{font-size:30px;}
    .questions{text-align:center;}
    .questions p{color:red;font-size:35px;font-weight:700;text-align:center;}
    .answers-to-questions{width:95%;margin:300px auto 0;}
    .answers-to-questions .choose p{font-family:'DM Sans';font-weight:500;font-size:20px;}
    .display-answers{display:flex;width:100%;justify-content:space-between;align-items:center;}
    .display-answers button{font-family:'Inter';font-weight:700;border-radius:30px;border:none;}
    .display-answers button{width:33%;margin:0 10px;padding:20px 5px;font-size:18px;color:#fff;}
    .display-answers button:first-child{margin-left:0;}
    .display-answers button:last-child{margin-right:0;}
    .answers-to-questions .answers{margin-top:50px;}
    .questions .results p{font-family:'DM Sans';font-weight:500;font-size:22px;}
    .next-button{width:100%;margin-top:60px;}
    .next-button .next{width:90%;margin:0 auto;}
    .next-button .next button{width:100%;background-color:#000;color:#fff;border-radius:30px;}
    .next-button .next button{font-family:'Inter';font-weight:700;font-size:25px;padding:20px 8px;}
    .options-home{width:250px;margin-right:20px;position:absolute;z-index:999;margin-top:10px;right:999px;}
    .options-home{transition:all .5s ease-in;}
    .showOption{right:0px;transition:all .5s ease-in-out;}
    .options-home ul{display:flex;flex-direction:column;padding:30px 15px;width:100%;}
    .options-home ul{background-color:#fff;box-shadow:0px 0px 11px rgba(0, 0, 0, 0.25);border-radius:30px;}
    .options-home ul li, .options-home ul li a.add{list-style:none;margin:10px 0;}
    .options-home ul li, .options-home ul li a.add{font-family:'Inter';font-weight:400;font-size:20px;}
    .options-home ul li a.add{color:#000;text-decoration:none;}
    .answers .display-answers button.red{background-color:rgba(255, 0, 0, 0.8);}
    .answers .display-answers button.blue{background-color:rgba(0, 0, 255, 0.8);}
    .answers .display-answers button.green{background-color:rgba(0, 128, 0, 0.8);}
}